<% include ../partials/headpages %>
<div class="wrapper" ng-controller='storeController'>
    <div class="loaderContainer" ng-show="loading"></div>
    <div class="loader" ng-show="loading"></div>
    <div class="sidebar" data-color="purple" data-image="/img/sidebar-1.jpg">
        <div class="logo">
            <a href="http://appout.co" class="simple-text">
                AppOut.LLC
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li>
                    <a href='/eg/g/galleries/{{store._id}}'>
                        <i class="material-icons">dashboard</i>
                        <p>Galleries</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/eg/store/{{store._id}}">
                        <i class="material-icons">person</i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li ng-click="signOut()" class="cursorPointer">
                    <a>
                        <i class="material-icons">person</i>
                        <p>Sign Out</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h4>Profile</h4>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header" data-background-color="orange">
                                <h4 class="title">Edit Profile</h4>
                                <p class="category">Complete your profile</p>
                            </div>
                            <div class="card-content">
                                <form name="frmStoreData" novalidate>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Store Name (disabled)</label>
                                                <input type="text" class="form-control" value="<%= store.Name%>" ng-init=" store.Name = '<%= store.Name%>' " ng-model="store.Name" disabled="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Adress</label>
                                                <input type="text" class="form-control" value="<%= store.Address%>" ng-init="store.Address = '<%= store.Address%>'" ng-model="store.Address" required name="Address" id="Address" pattern="^.{1,50}$">
                                                <span ng-show="frmStoreData.Address.$dirty && frmStoreData.Address.$invalid">
                                                    <span class="errorFont" ng-show="frmStoreData.Address.$error.required">Required</span>
                                                    <span class="errorFont" ng-show="frmStoreData.Address.$error.pattern">Address is too long</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Email address</label>
                                                <input type="Email" class="form-control" value="<%= store.Email%>" ng-init="store.Email='<%= store.Email%>'" ng-model="store.Email" required name="Email" id="Email" pattern="^.{1,40}$">
                                                <span ng-show="frmStoreData.Email.$dirty && frmStoreData.Email.$invalid">
                                                    <span class="errorFont" ng-show="frmStoreData.Email.$error.required">Required</span>
                                                    <span class="errorFont" ng-show="frmStoreData.Email.$error.Email">Invalid Email</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group label-floating">
                                                <label class="control-label">City</label>
                                                <input type="text" class="form-control" value="<%= store.City%>" ng-init="store.City='<%= store.City%>'" ng-model="store.City" required name="City" id="City" pattern="^.{1,35}">
                                                <span ng-show="frmStoreData.City.$dirty && frmStoreData.City.$invalid">
                                                    <span class="errorFont" ng-show="frmStoreData.City.$error.required">Required</span>
                                                    <span class="errorFont" ng-show="frmStoreData.City.$error.pattern">City is too long</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="form-group label-floating">
                                                    <label class="control-label"> About Store</label>
                                                    <textarea class="form-control" ng-init="store.Description='<%= store.Description %>'" rows="3" ng-model="store.Description" required name="Desc" id="Desc" pattern="^.{1,200}$"><%= store.Description %></textarea>
                                                    <span ng-show="frmStoreData.Desc.$dirty && frmStoreData.Desc.$invalid">
                                                        <span class="errorFont" ng-show="frmStoreData.Desc.$error.required">Required</span>
                                                        <span class="errorFont" ng-show="frmStoreData.Desc.$error.pattern">Description is too long</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" ng-click="save()" ng-disabled="frmStoreData.$invalid" class="btn btn-primary pull-right">Update Profile</button>
                                    <div class="clearfix"></div>
                                </form>
								
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-profile">
                            <div class="card-avatar">
                                    <!--upload img-->
                                    <div>
                                        <img fallbacksrc="" id="imgItem" ng-click="ShowFileSelector()" class="img-responsive cursorPointer imgItem" src="<%= store.ProfilePicture %>" />
                                        <input type="file" onchange="convertImgToBase64URL(event)" id="uploadItemImage" />
                                    </div>
                            </div>
                            <div class="content">
                                <h4 class="card-title itemTitle"><%= store.Name %></h4>
                                <p class="card-content category text-gray"><%= store.Description %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <% include ../partials/footerpages %>
        </footer>
    </div>
</div>
<!--   Core JS Files   -->
<% include ../partials/pagesjsfiles %>
