<% include ../partials/pagestart %>
<% include ../partials/pageheader %>


<div ng-controller="favouritesController">
    <div ng-init="init('<%= countryIso %>')" class="favouritesPage">

	    <div class="clear"></div>
        <!-- Breadcrumbs -->
        <section class="container">
            <nav class="breadcrumbs">
                <span class="maincrumb"><a href="/{{IsoCode}}/Home">Home</a></span>
                <span class="maincrumb"><span class="divider">›</span><span href="#"><span> Favourites</span></span></span>
            </nav>
        </section>
        <!-- //end Breadcrumbs -->

        <!-- Favourites -->
        <section class="container-fluid">
            <!-- view -->
            <div class="row">

                <div class="col-sm-10 col-sm-offset-1 ">
				
				<% if(listFavourites.length > 0){ %>
                    <ul>
					 <% listFavourites.forEach(function(fav){ %>
                        <li>
						   <div ng-click="redirectToItem('<%= fav.Name %>', '<%= fav._id %>')" title="click to view item" class="col-xs-3">
                             <img class="img-responsive wow zoomIn" data-wow-offset="30" data-wow-duration="1s" src="<%= fav.Pictures[0].URL %>" />
                           </div>
						   <div ng-click="redirectToItem('<%= fav.Name %>', '<%= fav._id %>')" title="click to view item" class="col-xs-3"> <h6> <%= fav.Name %> </h6> </div>
						   <div class="col-xs-3" ng-click="removeFromFavorites('<%= fav._id %>')" title="un favorite this item"><span  class="dvIcon glyphicon glyphicon-heart-empty iconFav"></span></div>
					    </li>
                     <% }); %>

                    </ul>
					<% } else { %>
					<p class="txtNoData"> No favorites found </p>
					<% } %>
                </div>


                
            </div>
            <!-- //end view -->

        </section>
        <!-- //end Two columns content -->
    </div>
</div>
<% include ../partials/pagefooter %>
<% include ../partials/pageend %>
<% include ../partials/pagesocial %>
</body>

</html>