<% include ../partials/pagestart %>
<% include ../partials/pageheader %>

<script>var inboxObject = <%-JSON.stringify(JsonInbox)%>;</script>

<div ng-controller="inboxController">
    <div ng-init="init('<%= countryIso %>')" class="inboxPage">
        <!-- Inbox -->
        <section class="container-fluid">

            <!-- Product view -->
            <div class="row dvInbox">

                <div class="col-sm-2 col-md-2 col-lg-2 dvUsersList">
                    <ul>
                        <% if (usersList.length > 0) { %>
                        <% usersList.forEach(function(user){ %>

                        <li ng-class="{'active' : activeUser == '<%= user._id %>'}" ng-click="activeUser = <%= user._id %>">
                           <a href="/{{IsoCode}}/Inbox/<%= user._id %>"> 
						       <img class="wow zoomIn" data-wow-offset="30" data-wow-duration="1s" src="<%= user.Img %>" alt="" />
                               <h6><%= user.Name %></h6>
							</a>
                        </li>
                    

                        <% }); %>

                        <% } %>
                    </ul>
                </div>


                <div class="col-sm-10 col-md-10 col-lg-10 dvMessagesBody">
				 <div class="dvMessagesBodyContainer">
                    <div ng-repeat="user in inboxMesagesList track by $index">

                        <div ng-if="user._id == <%= chatPartener %>">
                            <!-- others texts -->
                            <div class="media othersText">
                                <div class="media-body text-right">
                                    <span>{{user.Message}}</span>
                                </div>
                                <div class="media-right">
                                    <img class="media-object" src="{{user.Img}}" alt="...">
                                </div>
                            </div>
                        </div>

                        <div ng-if="user._id != <%= chatPartener %>">
                            <!-- My texts -->
                            <div class="media myText">
                                <div class="media-left">
                                    <img class="media-object" src="{{user.Img}}" alt="...">
                                </div>
                                <div class="media-body">
                                    <span>{{user.Message}}</span>
                                </div>
                            </div>
                        </div>

                    </div>
					 </div>
					
                    <div class="row dvSendMessage">
                        <div class="col-xs-10">
                            <input type="text"  required=""  ng-model="txtMessage" placeholder="Message..." class="form-email form-control" />
                        </div>
                        <div class="col-xs-2 text-center">
                            <button type="button" title="send" ng-disabled="!txtMessage" ng-click="submitMessage()" class="btn btn-primary btn-block" ng><span class="fa fa-paper-plane-o"></span></button>
                        </div>
                    </div>




                </div>
            </div>
            <!-- //end Product view -->

        </section>
        <!-- //end Two columns content -->
    </div>
</div>
<% include ../partials/pagefooter %>
<% include ../partials/pageend %>
<% include ../partials/pagesocial %>
</body>

</html>