<% include ../partials/pagestart %>
<% include ../partials/pageheader %>


<div ng-controller="notificationsController">
    <div ng-init="init('<%= countryIso %>')" class="notificationsPage">

	    <div class="clear"></div>
        <!-- Breadcrumbs -->
        <section class="container">
            <nav class="breadcrumbs">
                <span class="maincrumb"><a href="/{{IsoCode}}/Home">Home</a></span>
                <span class="maincrumb"><span class="divider">›</span><span href="#"><span> Notifications</span></span></span>
            </nav>
        </section>
        <!-- //end Breadcrumbs -->

        <!-- notifications -->
        <section class="container-fluid">
            <!-- view -->
            <div class="row ">

                <div class="col-sm-10 col-sm-offset-1 ">

				<% if(listNotifications.length > 0){ %>
                    <ul>
					 <% listNotifications.forEach(function(notification){ %>

                        <li ng-class="{'unReadNotification': '<%= notification.Status %>' == 'un read'}">
                          <a href="/{{IsoCode}}/<%= notification.RedirectURL %>">
						    <h6><span class="dvIcon glyphicon glyphicon-bell"></span><span> <%= notification.Text %> </span></h6>
                            <div class="text-right"><span class="text-muted"><%= moment(notification.NotificationDate).format('MMM D, YYYY @ h:mmA') %></span></div>
						  </a>
                        </li>




                     <% }); %>

                    </ul>


					<ul>
					
						<li ng-show="notification" ng-class="{'unReadNotification': notification.Status == 'un read'}" ng-repeat="notification in notifications">
                          <a href="/{{IsoCode}}/{{ notification.RedirectURL }}">
						    <h6><span class="dvIcon glyphicon glyphicon-bell"></span><span> {{ notification.Text }} </span></h6>
                            <div class="text-right"><span class="text-muted">{{ notification.NotificationDate | date:'MMM d, y @ h:mma' }}</span></div>
						  </a>
                        </li>
					
					</ul>


					<% } else { %>
					<p class="txtNoData"> No notifications found </p>
					<% } %>
                </div>


				
                
            </div>
            <!-- //end view -->

             <% if(listNotifications.length > 0){ %>
				<div class="txtMoreContainer">
				   <a href="" ng-show="moreNotifications" class="dvSeeMore" ng-click="getMore()">See More</a>
				</div>
			 <% }; %>

        </section>
        <!-- //end Two columns content -->
    </div>
</div>
<% include ../partials/pagefooter %>
<% include ../partials/pageend %>
<% include ../partials/pagesocial %>
</body>

</html>