<% include ../partials/pagestart %>
<% include ../partials/pageheader %>

<div class="clear"></div>
<section class="container">
    <nav class="breadcrumbs"> <a href="/Eg/Home">Home</a> <span class="divider">›</span> Search results for ' <%= searchTxt %> ' </nav>
</section>

<!-- One column content -->
<section class="container responsive pageSearch ">

    <div class="row dvMiddlePart">
<select>
  <option value="volvo">Le Marchee </option>
  <option value="saab">El masreen </option>
</select>

	<select>
  <option value="volvo">Dior </option>
  <option value="saab">Channel </option>
</select>

<select>
  <option value="volvo">Rolex</option>
  <option value="saab">Golden Watch</option>
</select>
<br/>	<br/>	<br/>	<br/>	<br/>	<br/>	<br/>	<br/>	<br/>	<br/>	<br/>	<br/>	<br/>	
	<div class="search-area">
                  <a class="search-icon visible-xs">
                    <i class="glyphicon glyphicon-search"></i>
                  </a>
                  <form id="search_mini_form" class="hidden-xs" >
                    <div class="form-search ">
                      <input id="search" type="text" name="txtSearch" placeholder="Search" ng-model="txtSearch" class="input-text" autocomplete="off"/>
                      <button type="submit" ng-click="search()" title="Search" class="button">
                          <i class="glyphicon glyphicon-search"></i>
                      </button>
                      <div id="search_autocomplete" class="search-autocomplete" style="display: none;"></div>
                      <div class="clearer"></div>
                    </div>
                  </form>

                </div>
</div>


    <% if (searchResult.length > 0) { %>


    <div class="resultExpos">
        <h2>Expos</h2>
        <hr>

        <div class="row products-list  products-list-small">
            <div class="col-sm-12" style="display: flex;flex-wrap: wrap;align-items: stretch;">
                <% searchResult[0].resultExpos.forEach(function(result){ %>
                <div class="product-preview wow zoomIn" data-wow-offset="30" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="preview  wow zoomIn" data-wow-offset="30" data-wow-duration="1s" data-wow-delay="0.5s">
                        <a href="#" class="preview-image">
                            <img class="img-responsive  wow zoomIn" data-wow-offset="30" data-wow-duration="1s" data-wow-delay="0.5s" src="<%= result.Img %>" width="270" height="328" alt="">
                        </a>
                        <ul class="product-controls-list right hide-right">
                            <li class="top-out"></li>
                            <li><a href="#" class="circle"><span class="icon-heart"></span></a></li>
                            <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                            <li><a href="#" class="cart"><span class="icon-basket"></span></a></li>
                        </ul>
                        <a href="#" class="quick-view  hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> View </a>
                        <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                    </div>
                    <h3 class="title"><a href="#"><%= result.Title %></a></h3>
                </div>
                <% }); %>
            </div>
        </div>

    </div>


    <div class="resultStores">
        <h2>Stores</h2>
        <hr>

        <div class="row products-list  products-list-small">
            <div class="col-sm-12" style="display: flex;flex-wrap: wrap;align-items: stretch;">
                <% searchResult[0].resultStores.forEach(function(result){ %>
                <div class="product-preview wow zoomIn" data-wow-offset="30" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="preview  wow zoomIn" data-wow-offset="30" data-wow-duration="1s" data-wow-delay="0.5s">
                        <a href="#" class="preview-image">
                            <img class="img-responsive  wow zoomIn" data-wow-offset="30" data-wow-duration="1s" data-wow-delay="0.5s" src="<%= result.Img %>" width="270" height="328" alt="">
                        </a>
                        <ul class="product-controls-list right hide-right">
                            <li class="top-out"></li>
                            <li><a href="#" class="circle"><span class="icon-heart"></span></a></li>
                            <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                            <li><a href="#" class="cart"><span class="icon-basket"></span></a></li>
                        </ul>
                        <a href="#" class="quick-view  hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> View </a>
                        <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                    </div>
                    <h3 class="title"><a href="#"><%= result.Title %></a></h3>
                </div>
                <% }); %>
            </div>
        </div>

    </div>



    <div class="resultProducts">
        <h2>Products</h2>
        <hr>

        <div class="row products-list  products-list-small">
            <div class="col-sm-12" style="display: flex;flex-wrap: wrap;align-items: stretch;">
                <% searchResult[0].resultProducts.forEach(function(result){ %>
                <div class="product-preview wow zoomIn" data-wow-offset="30" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="preview  wow zoomIn" data-wow-offset="30" data-wow-duration="1s" data-wow-delay="0.5s">
                        <a href="#" class="preview-image">
                            <img class="img-responsive  wow zoomIn" data-wow-offset="30" data-wow-duration="1s" data-wow-delay="0.5s" src="<%= result.Img %>" width="270" height="328" alt="">
                        </a>
                        <ul class="product-controls-list right hide-right">
                            <li class="top-out"></li>
                            <li><a href="#" class="circle"><span class="icon-heart"></span></a></li>
                            <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                            <li><a href="#" class="cart"><span class="icon-basket"></span></a></li>
                        </ul>
                        <a href="#" class="quick-view  hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> View </a>
                        <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                    </div>
                    <h3 class="title"><a href="#"><%= result.Title %></a></h3>
                </div>
                <% }); %>
            </div>
        </div>

    </div>




    <% } else { %>
    <p class="txtNoData"> No Data Available </p>
    <% } %>



</section>
<!-- //end One columns content -->

<% include ../partials/pagefooter %>
<% include ../partials/pageend %>
<script src="/scripts/contactus.js"></script>
<% include ../partials/pagesocial %>

</body>

</html>