<% include ../partials/pagestart %>
<% include ../partials/pageheader %>

<script>var x = <%-JSON.stringify(JsonSearchResult)%>;</script>
<div ng-controller="searchController">
<div class="clear"></div>
<section class="container">
    <nav class="breadcrumbs"> <a href="/EG/Home">Home</a> <span class="divider">›</span> Search results for ' {{keyword}} '</nav>
</section>


<!-- One column content -->
<section class="container responsive pageSearch">
    <div class="dvOptionsContainer" ng-init="init1('<%= countryIso %>')">
        <div class="row">
            <div class="col-sm-9 col-md-6">
                <select ng-model="countries">
                    <option value="all" selected >All Countries</option>
                    <% countrieslst.forEach(function(country){ %>
                    <option value="<%= country.Name %>"><%= country.Name %></option>
                    <% }); %>
                </select>
                <select ng-model="expos">
                    <option value="all" selected >All Expos</option>
                    <% expolist.forEach(function(expo){ %>
                    <option value="<%= expo.Title %>"><%= expo.Title %></option>
                    <% }); %>

                </select>

                <select ng-model="stores">
                    <option value="all" selected >All Stores</option>
                    <% storeslst.forEach(function(store){ %>
                    <option value="<%= store.Name %>"><%= store.Name %></option>
                    <% }); %>

                </select>

            </div>
            <div class="col-sm-3 col-md-6">
                <input id="search" type="text" ng-model="keyword" ng-init="keyword = '<%= searchTxt %>' " name="txtSearch" value="keyword" placeholder="Search" class="input-text form-control" autocomplete="off" />
            </div>
        </div>
        <div class="spacer2"></div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-6 text-right">
                <a href="#" ng-click="clearSearch()" class="text-muted"><i class="fa fa-close"></i> Reset filter </a> &nbsp;
                <button type="submit" ng-click="refineSearch()" title="Search" class="btn btn-primary"> Refine search result <i class="glyphicon glyphicon-search"></i> </button>
            </div>
        </div>
    </div>
	
    <div class="panel-group" id="accordion" ng-show="searchResult">

        <div class="panel panel-default" ng-show="searchResult.expo">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#dvExpos">Expos <i class="more-less glyphicon glyphicon-minus"></i></a>
                </h2>
            </div>
            <div id="dvExpos" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row products-list  products-list-small">
                        <div class="col-sm-12" style="display: flex;flex-wrap: wrap;align-items: stretch;">
                            <div ng-repeat="expo in searchResult.expo" class="product-preview wow zoomIn animated" data-wow-offset="0" data-wow-duration="1s">
                                <div class="preview wow zoomIn animated" data-wow-offset="0" data-wow-duration="1s">
                                    <a href="/{{IsoCode}}/Expos/{{expo.Category}}" class="preview-image">
                                        <img class="img-responsive wow zoomIn animated" data-wow-offset="0" data-wow-duration="1s" src="{{expo.Banner}}" width="270" height="328" alt="">
                                    </a>
                                    <ul class="product-controls-list right hide-right">
                                        <li class="top-out"></li>
                                        <li><a href="#" class="circle"><span class="icon-heart"></span></a></li>
                                        <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                        <li><a href="#" class="cart"><span class="icon-basket"></span></a></li>
                                    </ul>
                                    <a href="/{{IsoCode}}/Expos/{{expo.Category}}" class="quick-view  hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> View </a>
                                    <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                                </div>
                                <h3 class="title"><a href="/{{IsoCode}}/Expos/{{expo.Category}}">{{expo.Title}}</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" ng-show="searchResult.store">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#dvStores">Stores <i class="more-less glyphicon glyphicon-minus"></i></a>
                </h2>
            </div>
            <div id="dvStores" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row products-list  products-list-small">
                        <div class="col-sm-12" style="display: flex;flex-wrap: wrap;align-items: stretch;">
                            <div ng-repeat="store in searchResult.store" class="product-preview wow zoomIn animated" data-wow-offset="0" data-wow-duration="1s">
                                <div class="preview wow zoomIn animated" data-wow-offset="0" data-wow-duration="1s">
                                    <a href="/{{IsoCode}}/Store/{{store.Name}}/{{store._id}}" class="preview-image">
                                        <img class="img-responsive wow zoomIn animated" data-wow-offset="0" data-wow-duration="1s" src="{{store.ProfilePicture}}" width="270" height="328" alt="">
                                    </a>
                                    <ul class="product-controls-list right hide-right">
                                        <li class="top-out"></li>
                                        <li><a href="#" class="circle"><span class="icon-heart"></span></a></li>
                                        <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                        <li><a href="#" class="cart"><span class="icon-basket"></span></a></li>
                                    </ul>
                                    <a href="/{{IsoCode}}/Store/{{store.Name}}/{{store._id}}" class="quick-view  hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> View </a>
                                    <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                                </div>
                                <h3 class="title"><a href="/{{IsoCode}}/Store/{{store.Name}}/{{store._id}}">{{store.Name}}</a></h3>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="panel panel-default" ng-show="searchResult.item">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#dvProducts">Products <i class="more-less glyphicon glyphicon-minus"></i></a>
                </h2>
            </div>
            <div id="dvProducts" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row products-list  products-list-small">
                        <div class="col-sm-12" style="display: flex;flex-wrap: wrap;align-items: stretch;">
                            <div ng-repeat="item in searchResult.item" class="product-preview wow zoomIn animated" data-wow-offset="0" data-wow-duration="1s">
                                <div class="preview wow zoomIn animated" data-wow-offset="0" data-wow-duration="1s">
                                    <a href="/{{IsoCode}}/Product/{{item.Name}}/{{item._id}}" class="preview-image">
                                        <img class="img-responsive wow zoomIn animated" data-wow-offset="0" data-wow-duration="1s" src="{{item.Pictures[0].URL}}" width="270" height="328" alt="">
                                    </a>
                                    <ul class="product-controls-list right hide-right">
                                        <li class="top-out"></li>
                                        <li><a href="#" class="circle"><span class="icon-heart"></span></a></li>
                                        <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                        <li><a href="#" class="cart"><span class="icon-basket"></span></a></li>
                                    </ul>
                                    <a href="/{{IsoCode}}/Product/{{item.Name}}/{{item._id}}" class="quick-view  hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> View </a>
                                    <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                                </div>
                                <h3 class="title"><a href="/{{IsoCode}}/Product/{{item.Name}}/{{item._id}}">{{item.Name}}</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <p ng-show="!searchResult" class="txtNoData"> No data available </p>


</section>
<!-- //end One columns content -->
</div>

<% include ../partials/pagefooter %>
<% include ../partials/pageend %>
<script>
    function toggleIcon(e) {
        $(e.target)
            .prev('.panel-heading')
            .find(".more-less")
            .toggleClass('glyphicon-plus glyphicon-minus');
    }
    $('.panel-group').on('hidden.bs.collapse', toggleIcon);
    $('.panel-group').on('shown.bs.collapse', toggleIcon);
</script>
<% include ../partials/pagesocial %>

</body>

</html>