<% include ../partials/pagestart %>
<% include ../partials/pageheader %>

<div class="clear"></div>
<section class="container">
    <nav class="breadcrumbs"> <a href="/Eg/Home">Home</a> <span class="divider">›</span> Search results for ' <%= searchTxt %> ' </nav>
</section>

<!-- One column content -->
<section class="container responsive pageSearch">
    <div class="dvOptionsContainer">
        <div class="row">
            <div class="col-sm-9 col-md-6">
                <select>
                    <option value="" selected disabled>All Countries</option>
                    <option value="">Egypt</option>
                    <option value="">Saudi Arabia</option>
					<option value="">Jordan</option>
                </select>
                <select>
                    <option value="" selected disabled>All Expos</option>
                    <option value="">Le Marchee </option>
                    <option value="">El Masreen </option>
                </select>

                <select>
                    <option value="" selected disabled>All Stores</option>
                    <option value="">Dior </option>
                    <option value="">Channel </option>
                </select>

            </div>
            <div class="col-sm-3 col-md-6">
                <input id="search" type="text" name="txtSearch" value="<%= searchTxt %>" placeholder="Search" class="input-text form-control" autocomplete="off" />
            </div>
        </div>
        <div class="spacer2"></div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-6 text-right">
                <a href="#" class="text-muted"><i class="fa fa-close"></i> Reset Filter </a> &nbsp;
                <button type="submit" ng-click="refineSearch()" title="Search" class="btn btn-primary"> Refine Search Result <i class="glyphicon glyphicon-search"></i> </button>
            </div>
        </div>
    </div>

    <% if (searchResult.length > 0) { %>

    <div class="panel-group" id="accordion">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#dvExpos">Expos <i class="more-less glyphicon glyphicon-minus"></i></a>
                </h2>
            </div>
            <div id="dvExpos" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row products-list  products-list-small">
                        <div class="col-sm-12" style="display: flex;flex-wrap: wrap;align-items: stretch;">
                            <% searchResult[0].resultExpos.forEach(function(result){ %>
                            <div class="product-preview wow zoomIn animated" data-wow-offset="0" data-wow-duration="1s" >
                                <div class="preview wow zoomIn animated" data-wow-offset="0" data-wow-duration="1s" >
                                    <a href="#" class="preview-image">
                                        <img class="img-responsive wow zoomIn animated" data-wow-offset="0" data-wow-duration="1s"  src="<%= result.Img %>" width="270" height="328" alt="">
                                    </a>
                                    <ul class="product-controls-list right hide-right">
                                        <li class="top-out"></li>
                                        <li><a href="#" class="circle"><span class="icon-heart"></span></a></li>
                                        <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                        <li><a href="#" class="cart"><span class="icon-basket"></span></a></li>
                                    </ul>
                                    <a href="#" class="quick-view  hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> View </a>
                                    <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                                </div>
                                <h3 class="title"><a href="#"><%= result.Title %></a></h3>
                            </div>
                            <% }); %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#dvStores">Stores <i class="more-less glyphicon glyphicon-plus"></i></a>
                </h2>
            </div>
            <div id="dvStores" class="panel-collapse collapse ">
                <div class="panel-body">
                    <div class="row products-list  products-list-small">
                        <div class="col-sm-12" style="display: flex;flex-wrap: wrap;align-items: stretch;">
                            <% searchResult[0].resultStores.forEach(function(result){ %>
                            <div class="product-preview wow zoomIn animated" data-wow-offset="0" data-wow-duration="1s" >
                                <div class="preview wow zoomIn animated" data-wow-offset="0" data-wow-duration="1s" >
                                    <a href="/eg/Store/<%= result.Title %>/<%= result._id %>" class="preview-image">
                                        <img class="img-responsive wow zoomIn animated" data-wow-offset="0" data-wow-duration="1s"  src="<%= result.Img %>" width="270" height="328" alt="">
                                    </a>
                                    <ul class="product-controls-list right hide-right">
                                        <li class="top-out"></li>
                                        <li><a href="#" class="circle"><span class="icon-heart"></span></a></li>
                                        <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                        <li><a href="#" class="cart"><span class="icon-basket"></span></a></li>
                                    </ul>
                                    <a href="/eg/Store/<%= result.Title %>/<%= result._id %>" class="quick-view  hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> View </a>
                                    <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                                </div>
                                <h3 class="title"><a href="/eg/Store/<%= result.Title %>/<%= result._id %>"><%= result.Title %></a></h3>
                            </div>
                            <% }); %>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#dvProducts">Products <i class="more-less glyphicon glyphicon-plus"></i></a>
                </h2>
            </div>
            <div id="dvProducts" class="panel-collapse collapse ">
                <div class="panel-body">
                    <div class="row products-list  products-list-small">
                        <div class="col-sm-12" style="display: flex;flex-wrap: wrap;align-items: stretch;">
                            <% searchResult[0].resultProducts.forEach(function(result){ %>
                            <div class="product-preview wow zoomIn animated" data-wow-offset="0" data-wow-duration="1s" >
                                <div class="preview wow zoomIn animated" data-wow-offset="0" data-wow-duration="1s" >
                                    <a href="/eg/Product/<%= result.Title %>/<%= result._id %>" class="preview-image">
                                        <img class="img-responsive wow zoomIn animated" data-wow-offset="0" data-wow-duration="1s"  src="<%= result.Img %>" width="270" height="328" alt="">
                                    </a>
                                    <ul class="product-controls-list right hide-right">
                                        <li class="top-out"></li>
                                        <li><a href="#" class="circle"><span class="icon-heart"></span></a></li>
                                        <li><a href="#" class="circle"><span class="icon-justice"></span></a></li>
                                        <li><a href="#" class="cart"><span class="icon-basket"></span></a></li>
                                    </ul>
                                    <a href="/eg/Product/<%= result.Title %>/<%= result._id %>" class="quick-view  hidden-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span> View </a>
                                    <div class="quick-view visible-xs"> <span class="rating"> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-3"></i> <i class="icon-star-empty"></i> </span></div>
                                </div>
                                <h3 class="title"><a href="/eg/Product/<%= result.Title %>/<%= result._id %>"><%= result.Title %></a></h3>
                            </div>
                            <% }); %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <% } else { %>
    <p class="txtNoData"> No Data Available </p>
    <% } %>

</section>
<!-- //end One columns content -->
<% include ../partials/pagefooter %>
<% include ../partials/pageend %>
<script src="/scripts/contactus.js"></script>
<script>
function toggleIcon(e) {
    $(e.target)
        .prev('.panel-heading')
        .find(".more-less")
        .toggleClass('glyphicon-plus glyphicon-minus');
}
$('.panel-group').on('hidden.bs.collapse', toggleIcon);
$('.panel-group').on('shown.bs.collapse', toggleIcon);
</script>
<% include ../partials/pagesocial %>

</body>

</html>