<% include ../partials/pagestart %>
<% include ../partials/pageheader %>

<script>
var GalleriesJson = <%-JSON.stringify(GalleriesJson)%>;
</script>

<div class="storePage"  ng-controller="storeController"> <!--style="background-image: url(<%= store.CoverPhoto %>);"-->
    <div class="container">
        <div class="pageCover" style="background: url(<%= store.CoverPhoto %>);">

        </div>
        <div class="pageBody" ng-init="init('<%= countryIso %>', '<%= store._id %>')">
            <div class="dvStoreHeader">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="dvProfileImgContainer">
                            <div class="dvProfileImg">
                                <span class="icon-checkmark-2" ng-class="{'visitedStore': isVisited == true}" title="{{ isVisited ? 'Visited store' : 'Not a visited store'}}"></span>
                                <img class="img-responsive" src="<%= store.ProfilePicture %>" />
                            </div>
                        </div>

                        <div class="dvStoreInfo">
                            <h1><%= store.Name %></h1>
                            <span class="dvRating">
                                <star-rating ng-model="rating" readonly="isReadonly" on-rating-selected="rateFunction(rating)"></star-rating>
								<label>
								<!-- <input type="checkbox" ng-model="isReadonly"/> Is Readonly  {{rating}} -->
								</label>
                            </span>
                        </div>

                        <div class="dvFlagContainer">
                            <img alt="Flag" title="store's country flag" class="img-responsive" src="https://egym.herokuapp.com/<%= store.Country %>.png" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="dvStoreDescription">
                            <h3><%= store.Description %></h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="dvStoreIcons">
                            <% if (store.Badges.HasFactory) { %>
                            <img title="Has factory" src="/images/factory.png" />
                            <% } else { %>
                            <img title="No factory" src="/images/nofactory.png" />
                            <% } %>

                            <% if (store.Badges.Verified) { %>
                            <img title="Verified" src="/images/verified.png" />
                            <% } else { %>
                            <img title="Not verified" src="/images/notverified.png" />
                            <% } %>
					   <a type="button" title="send" ng-show="loggedUser && userId != '<%= store._id %>'" href="/<%= countryIso %>/Inbox/{{userId}}/<%= store._id %>" class="btn btn-primary active pull-right sendMsgBtn"> <span>Send Message</span> <span class="fa fa-paper-plane-o"></span></a>

                        </div>
				    
					<div class="clear">
                    </div>
                </div>
            </div>

            <div class="dvSectionTitle">
                <div class="row">
                    <div class="col-sm-12 text-left">
                        <div class="labelContainer">
                            <h4>Featured products</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dvProductsBlock row">
                <div class="col-sm-12">

                    <% if (featured.length > 0) { %> 
                    <% featured.forEach(function(item){ %>
                    <div class="col-md-2 col-sm-3 wow zoomIn" data-wow-offset="30" data-wow-duration="1s" data-wow-delay="0.5s">
                        <a href="/{{IsoCode}}/Product/<%= item.Name %>/<%= item._id %>">
                            <div class="dvItemContainer text-center">
                                <img src="<%= item.Pictures[0].URL %>" class="img-responsive" />
                                <div class="dvItemDescription">
                                    <h1><%= item.Name %></h1>
                                    <h6><%= item.Description %></h6>
                                    <h2>$ <%= item.Price %></h2>
                                    <h5>Product details</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <% }); %>
                    <% } else { %>
                    <p class="txtNoData"> No featured products available </p>
                    <% } %>

                </div>
            </div>
           
            <div ng-repeat="gallery in GalleriesLst">
			
                <div class="dvAdvcontainer">
                    <img class="img-responsive" src="/images/adv1.png" />
                </div>

                <div class="dvSectionTitle">
                    <div class="row">
                        <div class="col-sm-12 text-left">
                            <div class="labelContainer">
                                <h4>{{gallery.Gallery}}</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="dvProductsBlock row">
                    <div class="col-sm-12">

                        <div ng-repeat="item in gallery.Items" class="col-md-2 col-sm-3 wow zoomIn" data-wow-offset="30" data-wow-duration="1s" data-wow-delay="0.5s">
                            <a href="/{{IsoCode}}/Product/{{item.Name}}/{{item._id}}">
                                <div class="dvItemContainer text-center">
                                    <img src="{{item.Pictures[0].URL}}" class="img-responsive" />
                                    <div class="dvItemDescription">
                                        <h1>{{item.Name}}</h1>
                                        <h6>{{item.Description}}</h6>
                                        <h2>$ {{item.Price}}</h2>
                                        <h5>Product details</h5>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>

            </div>

            <p ng-show="!GalleriesLst.length > 0" class="txtNoData"> No galleries available </p>

            <div class="dvAdvcontainer">
                <img class="img-responsive" src="/images/adv2.PNG" />
            </div>

        </div>
    </div>
</div>


<% include ../partials/pagefooter %>
<% include ../partials/pageend %>
<script src="/scripts/store.js"></script>
<% include ../partials/pagesocial %>

</body>

</html>