<% include ../partials/headpages %>
<div ng-controller='countryController' ng-init="init('<%= categorieslstJSON %>')">
    <div class="loaderContainer" ng-show="loading"></div>
    <div class="loader" ng-show="loading"></div>
    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="/img/sidebar-1.jpg">
            <div class="logo">
                <a href="http://appout.co" class="simple-text">
                    AppOut.LLC
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a href="/eg/countrieslist">
                            <i class="material-icons">person</i>
                            <p>Countries</p>
                        </a>
                    </li>
                    <li>
                        <a href="/eg/categorieslist">
                            <i class="material-icons">person</i>
                            <p>Categories</p>
                        </a>
                    </li>
                    <li>
                        <a href='/eg/exposlist'>
                            <i class="material-icons">dashboard</i>
                            <p>Expos</p>
                        </a>
                    </li>
                    <li>
                        <a href="/eg/store">
                            <i class="material-icons">person</i>
                            <p>Stores</p>
                        </a>
                    </li>
                    <li ng-click="signOut()" class="cursorPointer">
                        <a>
                            <i class="material-icons">person</i>
                            <p>Sign Out</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <div class="content">
                <div class="container-fluid">
                    <!-- Start Breadcrumbs -->
                    <div class="col-md-8">
                        <ol class="breadcrumb">
                            <li>
                                <a href='/eg/countrieslist'>Countries List</a>
                            </li>
                            <li class="active">Edit Country</li>
                        </ol>
                    </div>
                    <!-- End Breadcrumbs -->
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header" data-background-color="orange">
                                    <h4 class="title">Edit Country</h4>
                                    <p class="category">Edit your Country</p>
                                </div>
                                <div class="card-content">
                                    <form name="frmUpdateCountry">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group label-floating is-focused ">
                                                    <label class="control-label">Country name</label>
                                                    <input type="text" class="form-control" ng-model="country.Name" value="<%= country.Name %>" ng-init="country.Name = '<%= country.Name %>'" name="countryTitle" id="countryTitle" required pattern="^.{2,15}$">
                                                    <span ng-show="frmUpdateCountry.countryTitle.$dirty && frmUpdateCountry.countryTitle.$invalid">
                                                        <span class="errorFont" ng-show="frmUpdateCountry.countryTitle.$error.required">Required</span>
                                                        <span class="errorFont" ng-show="frmUpdateCountry.countryTitle.$error.pattern">Country name is too short or too long</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group label-floating is-focused ">
                                                    <label class="control-label">Country iso code</label>
                                                    <input type="text" class="form-control" ng-model="country.IsoCode" value="<%= country.IsoCode %>" ng-init="country.IsoCode = '<%= country.IsoCode %>'" name="countryIso" id="countryIso" required pattern="^.{2,3}$">
                                                    <span ng-show="frmUpdateCountry.countryIso.$dirty && frmUpdateCountry.countryIso.$invalid">
                                                        <span class="errorFont" ng-show="frmUpdateCountry.countryIso.$error.required">Required</span>
                                                        <span class="errorFont" ng-show="frmUpdateCountry.countryIso.$error.pattern">Country iso code is too short or too long</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group label-floating is-focused ">
                                                    <label class="control-label">Country welcome message</label>
                                                    <input type="text" class="form-control" ng-model="country.WelcomeMsg" value="<%= country.WelcomeMsg %>" ng-init="country.WelcomeMsg = '<%= country.WelcomeMsg %>'" name="countryMsg" id="countryMsg" required pattern="^.{2,15}$">
                                                    <span ng-show="frmUpdateCountry.countryMsg.$dirty && frmUpdateCountry.countryMsg.$invalid">
                                                        <span class="errorFont" ng-show="frmUpdateCountry.countryMsg.$error.required">Required</span>
                                                        <span class="errorFont" ng-show="frmUpdateCountry.countryMsg.$error.pattern">Welcome message is too short or too long</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" ng-click="updateCountry()" ng-disabled="frmUpdateCountry.$invalid" class="btn btn-primary pull-right">Update Country</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header card-chart">
                                    <!--upload img-->
                                    <div>
                                        <img fallbacksrc="" id="imgItem" ng-click="ShowFileSelector()" class="img-responsive cursorPointer imgItem" src="<%= country.Flag %>" />
                                        <input type="file" onchange="convertImgToBase64URL(event)" id="uploadItemImage" class="hide" />
                                    </div>
                                </div>
                                <div class="card-content">
                                    <h4 class="title itemTitle"></h4>
                                    <p class="category"></p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-header" data-background-color="orange">
                                    <h4 class="title">List of categories</h4>
                                </div>
                                <div class="card-content">

                                    <div class="checkbox" ng-repeat="category in categories">
                                        <label>
                                            <input id="chbox" type="checkbox" name="optionsCheckboxes" ng-model="category.checked" ng-checked="category.checked"><span class="checkbox-material"><span class="checkBoxSpan">{{category.Name}}</span></span>
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="footer">
                <% include ../partials/footerpages %>
            </footer>
        </div>
    </div>
</div>
<!--   Core JS Files   -->
    <% include ../partials/pagesjsfiles %>
