<% include ../partials/headpages %>
<div ng-controller='exposListController'>
    <div class="loaderContainer" ng-show="loading"></div>
    <div class="loader" ng-show="loading"></div>
    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="/img/sidebar-1.jpg">
            <div class="logo">
                <a href="http://appout.co" class="simple-text">
                    AppOut.LLC
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a href="/eg/countrieslist">
                            <i class="material-icons">person</i>
                            <p>Countries</p>
                        </a>
                    </li>
                    <li>
                        <a href="/eg/categorieslist">
                            <i class="material-icons">person</i>
                            <p>Categories</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href='/eg/exposlist'>
                            <i class="material-icons">dashboard</i>
                            <p>Expos</p>
                        </a>
                    </li>
                    <li>
                        <a href="/eg/store">
                            <i class="material-icons">person</i>
                            <p>Stores</p>
                        </a>
                    </li>
                    <li ng-click="signOut()" class="cursorPointer">
                        <a>
                            <i class="material-icons">person</i>
                            <p>Sign Out</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">

            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid top">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target=".bs-example-modal-lg">Add Expo</button>
                </div>
            </nav>

            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header defaultColor">
                                    <h4 class="title">Expos List</h4>
                                    <p class="category">List of expos</p>
                                </div>
                                <div class="card-content table-responsive">
                                    <% if( expolist.length > 0){%>
                                    <table class="table">
                                        <thead class="text-primary">
                                            <tr>
                                                <th></th>
                                                <th>Expo name</th>
                                                <th>Category</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                           
                                            <% expolist.forEach(function(expo){ %>
                                            <tr>
                                                <td>
                                                    <img class="divImgTable" src="<%= expo.Banner %>" />
                                                </td>
                                                <td><%= expo.Title %></td>
                                                <td class="light"><%= expo.Category.Name %></td>
                                                <td>
                                                    <button type="button" rel="tooltip" title="" class="btn btn-primary btn-simple btn-xs" ng-click="editExpo('<%= expo._id %>')" data-original-title="Edit Expo">
                                                        <i class="material-icons">edit</i>
                                                        <div class="ripple-container"></div>
                                                    </button>
                                                </td>
                                                <td>
                                                    <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs" ng-click="removeExpo('<%= expo._id %>')" data-original-title="Remove" aria-describedby="tooltip451158">
                                                        <i class="material-icons">close</i>
                                                        <div class="ripple-container"></div>
                                                    </button>
                                                </td>
                                            </tr>
                                            <% }); %>
                                           
                                        </tbody>
                                    </table>

                                    <%}else{%>
                                    <p class="text-center">There is no expos to show</p>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="footer">
                <% include ../partials/footerpages %>
            </footer>
        </div>
    </div>

    <!-- Start Modal -->
    <div class="modal fade bs-example-modal-lg" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Add Expo</h4>
                </div>
                <div class="modal-body">
                    <div class="content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="card">
                                        <div class="card-header" data-background-color="orange">
                                            <h4 class="title">Create Expo</h4>
                                            <p class="category">Create A New Expo</p>
                                        </div>
                                        <div class="card-content">
                                            <form name="frmAddExpo">
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Expo Name</label>
                                                            <input type="text" class="form-control" ng-model="expo.Title" required pattern="^.{2,25}$" name="expoTitle" id="expoTitle">
                                                            <span ng-show="frmAddExpo.expoTitle.$dirty && frmAddExpo.expoTitle.$invalid">
                                                                <span class="errorFont" ng-show="frmAddExpo.expoTitle.$error.required">Required</span>
                                                                <span class="errorFont" ng-show="frmAddExpo.expoTitle.$error.pattern">Expo name is too short or too long</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <label>Category</label>
                                                            <br>
                                                            <select name="country" ng-model="expo.selectedCategory" class="form-control">
                                                                <% categorieslst.forEach(function(category){ %>
                                                                <option value="<%= category._id %>" selected> <%= category.Name %> </option>
                                                                <% }); %>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-header card-chart">
                                            <!--upload img-->
                                            <div>
                                                <img fallbacksrc="" id="imgItem" ng-click="ShowFileSelector()" class="img-responsive cursorPointer imgItem" src="/img/add.gif" />
                                                <input type="file" onchange="convertImgToBase64URL(event)" id="uploadItemImage" class="hide" />
                                            </div>
                                        </div>
                                        <div class="card-content">
                                            <h4 class="title itemTitle">{{expo.Title}}</h4>
                                            <p class="category">{{expo.Category}}</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" ng-click="addExpo()" ng-disabled="frmAddExpo.$invalid" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->

</div>
<!--   Core JS Files   -->
<% include ../partials/pagesjsfiles %>/partials/pagesjsfiles %>